[package]
name = "starriver"
version.workspace = true
edition.workspace = true
rust-version.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lints.rust]
unsafe_code = "forbid"

[dependencies]
ferris-says = "^0"
axum = { workspace = true }
tokio = { workspace = true }

dotenvy = "^0"
mimalloc = { version = "*", features = ["secure"] }

starriver-adapter = { path = "../starriver-adapter" }
starriver-infrastructure = { path = "../starriver-infrastructure" }

tracing = { workspace = true }
tracing-subscriber = { workspace = true }
tracing-appender = { workspace = true }
